.top-image-about {
    background-image: url(/content/adult-backlit-beach-1000445.jpg);
    background-size: 100% 100%;
     background-repeat: no-repeat;
    width: auto;
    height: 400px;
}

.about-grid {
    display: none;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.about-grid .avatar-card {
    width: 461px;
    height: 600px;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    border: 3px double #53616f;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #f5f5f5;
    overflow: hidden;
}


.about-grid .avatar-card img {
    width: 60%;
    height: auto;
    border-radius: 2px;
}

.about-grid .avatar-card .stars {
    width: 64px;
    height: 64px;
    padding: 2%;
}

.about-grid .avatar-card p {
    padding: 10px;
}

@media (max-width: 800px) {
    .about-grid {
        display: flex;
    }

    .about-grid .avatar-card {
        display: flex;
        width: 90%;
        align-self: center;
    }
}

@media (max-width: 800px) {
    .hide-book {
        display: none;
        width: 0px;
        height: 0px;
    }
}

h3 .hide-book {
    background: none;
}