.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
.push_button {
  position: relative;
  width: 220px;
  height: 40px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  line-height: 43px;
  font-family: 'Oswald', Helvetica;
  display: block;
  margin: 30px;
}
.push_button:before {
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
  border-radius: 5px;
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -10px;
  z-index: -1;
}
.push_button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  top: 5px;
}
.push_button:active:before {
  top: -11px;
  bottom: -5px;
}
.red {
  text-shadow: -1px -1px 0 #A84155;
  background: #D25068;
  border: 1px solid #D25068;
  background-image: linear-gradient(to bottom, #F66C7B, #D25068);
  border-radius: 5px;
  width: 50%;
  height: 20%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, 0.5);
}
.red:hover {
  background: #F66C7B;
  background-image: linear-gradient(top, #D25068, #F66C7B);
}
.blue {
  text-shadow: -1px -1px 0 #2C7982;
  background: #3EACBA;
  border: 1px solid #379AA4;
  background-image: linear-gradient(top, #48C6D4, #3EACBA);
  border-radius: 5px;
  width: 50%;
  height: 20%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, 0.5);
}
.blue:hover {
  background: #48C6D4;
  background-image: linear-gradient(top, #3EACBA, #48C6D4);
}
.carousel {
  max-height: 350px;
  margin-top: 16px;
}
.carousel img {
  max-height: 350px;
  width: auto;
}
.carousel .left-button,
.carousel .right-button {
  color: lightblue;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 40px;
  width: 50px;
  height: 100%;
  z-index: 11;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.carousel .hide {
  display: none;
}
.carousel .show {
  display: block;
}
@media (max-width: 800px) {
  .carousel img {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .carousel {
    display: none;
  }
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v11/tDbM2oWUg0MKoZw1-LPK9g.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
.header-border {
  height: 80px;
  width: 100%;
  background: #078C54;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
}
.header-border img {
  height: 50px;
  width: auto;
  margin-left: 25px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  .header-border {
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 120px;
    margin-top: 0px;
    text-align: center;
    border-radius: 0;
    border: none;
  }
  .header-border a {
    width: 100%;
    border-bottom: 2px solid gray;
  }
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}
.header a {
  padding: 6px;
  text-decoration: none;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  color: #f5f5f5;
}
.header a:hover {
  font-size: 1.4rem;
}
.main-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 1200px;
  border-radius: 25px;
}
.main-content .top-header {
  font-size: 3rem;
  font-family: Arvo;
}
.main-content .top-image {
  background-image: url(/content/architecture-book-shelves-bookcase-1319854.jpg);
  background-size: 100% 100%;
  width: auto;
  height: 400px;
}
.main-content .top-image section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
}
.main-content .top-image section div {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-content .top-image section .button-area {
  background: none;
  border: none;
}
@media (max-width: 800px) {
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main-content .carousel {
    display: none;
  }
}
.main-content .carousel-text {
  display: none;
}
@media (max-width: 500px) {
  .main-content .carousel-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background: white;
    max-width: 480px;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
  }
}
.main-content .show-carousel-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background: white;
  max-width: 940px;
  margin-top: 2%;
  border: 3px double #001933;
  border-radius: 8px;
  text-align: center;
}
.main-content .show-carousel-text p {
  width: 90%;
}
@media (max-width: 500px) {
  .main-content .show-carousel-text {
    max-width: 480px;
  }
  .main-content .show-carousel-text p {
    width: 100%;
  }
}
.main-content .carousel {
  justify-content: center;
}
.main-content div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-content .top-paragraphs {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 90%;
  padding: 40px;
}
@media (max-width: 800px) {
  .main-content .top-paragraphs img {
    display: none;
  }
}
.main-content .top-paragraphs h1 {
  border-top: 3px double #001933;
  padding-top: 2%;
}
.main-content .top-paragraphs .left {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  width: 100%;
}
.main-content .top-paragraphs .right {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 3px double #001933;
  padding-bottom: 2%;
}
.main-content .top-paragraphs img {
  height: 150px;
  width: auto;
  padding: 0 20px;
}
.main-content .top-paragraphs p {
  display: flex;
  flex-direction: column;
}
.main-content .book-grid {
  padding-bottom: 2%;
}
.main-content .book-grid .top-box {
  width: 30%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #333333;
  margin-top: 25px;
  background-color: white;
  overflow: hidden;
}
.main-content .book-grid .top-box img {
  width: 60%;
  height: auto;
  border-radius: 2px;
}
.main-content .book-grid .top-box p {
  padding: 10px;
}
@media (max-width: 800px) {
  .main-content .book-grid {
    flex-direction: column;
  }
  .main-content .book-grid .top-box {
    width: 90%;
    align-self: center;
  }
}
.main-content footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5%;
  background-color: #078C54;
}
