.carousel {
  .width-100();
  .flex(center, center);
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  @media(min-width: 1200px){
    width: 1200px;
  }
  img {
    height: 500px;
    width: auto;
  }
  .left-button, .right-button {
    .flex(center);
    color: @lambda-times-color-white;
    background-color: rgba(51,51,51,.8);
    font-size: 40px;
    // width: 50px;
    height: 100%;
    z-index: 11;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      color: @lambda-times-color-primary;
      background-color: @lambda-times-color-white;
      border: 2px solid @lambda-times-color-primary;
    }
  }

  .hide {
    .width-100();
    display: none;
  }
  .show {
    display : block;
  }
}

// Photo by Startup Stock Photos from Pexels
//https://www.pexels.com/photo/people-coffee-meeting-team-7096/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
